div.conteiner{
     display: grid;
    grid-template-rows: repeat(5, 200px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.topo{
    background-color: chartreuse;
    grid-area: 1/1 / 1/5;
}

.menu{
    background-color: blue;
    grid-area: 2 /1 / 2/5; 
    align-items: center; 
}

.conteudo{
    background-color: brown;
    grid-area: 3/ 1/5 /4;
}

.secundario{
    background-color: blueviolet;
    grid-area:  3/ 4/5 /5;
}

.rodape{
    background-color: cadetblue;
    grid-area: 5/ 1/6 /5 ;
    align-items: end;

}